body {
  margin: 0;
  padding: 0;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.video-container {
  max-width: 100vw;
  max-height: 100vh;
  aspect-ratio: 9 / 16;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: black;
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}
